<footer class="footer">
    <div class="footer__container">
        <app-footer-links [items]="linkItems[1]"></app-footer-links>
        <app-footer-links [items]="linkItems[2]"></app-footer-links>
        <app-footer-links [items]="linkItems[3]"></app-footer-links>
        <app-footer-links [items]="linkItems[4]"></app-footer-links>
    </div>
    <img class="footer__image" src="assets/images/5.jpg"
        alt="A row of simple, cartoon-like characters with speech bubbles. Each character is expressing a different sentiment or idea related to communication.">
</footer>