<header class="header">
    <article class="header__title-container">
        <h1 class="header__title">Net + etiquette = <br> netiquette</h1>
        <img class="header__aroha-image" src="assets/images/1.jpg"
            alt='Cartoon of a smiling speech bubble with a pair of short legs and arms. The speech bubble is holding a sign with the word "AROHA".'>
    </article>
    <p aria-readonly="true" style="opacity: 0; max-height: 0;">We're asking everyone to show manaaki, respect privacy,
        argue ideas not people, and to leave the swear words out. It's okay to be passionate online, but put your best
        foot forward by showing netiquette to others.</p>
    <img class="header__netiquette-image" src="assets/images/2.jpg"
        alt="A smiling speech bubble, sitting in a relaxed manner, invites users to participate in online conversations in a respectful and constructive manner, avoiding offensive language and respecting the privacy of others">
</header>