<section>
    <header>
        <picture>
            <source class="accordion-header__image" srcset="assets/images/4.jpg" media="(min-width: 992px)">
            <source class="accordion-header__image" srcset="assets/images/3.jpg" media="(min-width: 300px)">
            <img class="accordion-header__image" src="assets/images/4.jpg"
                alt='A blue speech bubble saying "Be nice" and a purple speech bubble saying "Respect" with the word "Netiquette" written below. There are arrows pointing left and right.'>
        </picture>
    </header>
    <main>
        <app-acordion></app-acordion>
    </main>
    <footer>
        <img class="accordion-header__image" src="assets/images/Dial-it-Down_Posters.png"
            alt='Two purple posters with white text and illustrations on a black background. One poster says "Dial it down a notch, Aotearoa" and the other says "There’s more that unites us than separates us". Both posters have a simple illustration of two people.'>
    </footer>
</section>