<section class="banner">
    <article class="banner__container">
        <h1 class="banner__title">Download posters and posts to help spread the word</h1>
        <img class="banner__image" src="assets/images/6.jpg"
            alt="A digital composite image is presented, divided into two sections. On the left, two purple posters float against a black background. Each poster features a simple, line-drawn illustration and a short, impactful message in white text. The right section showcases three social media posts on a light purple background, each with a similar design aesthetic. The overall style is minimalist and modern, with a focus on typography and illustration.">
    </article>
</section>